<!doctype html>
<html lang="en">
<head>
  <title>View Reviews</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-5">View Reviews</h1>
    <form action="{{ url_for('view_reviews_route') }}" method="post">
      <label>Item Description:</label>
      <input type="text" name="itemDescription" required>
      <input type="submit" value="Search" class="btn btn-primary">
    </form>
    {% if reviews %}
    <table class="table table-bordered mt-3">
      <thead class="thead-dark">
        <tr><th>Item</th><th>Reviewer</th><th>Rating</th><th>Comment</th></tr>
      </thead>
      <tbody>
        {% for r in reviews %}
        <tr>
          <td>{{ r['itemDescription'] }}</td>
          <td>{{ r['reviewerName'] }}</td>
          <td>{{ r['rating'] }}</td>
          <td>{{ r['comment'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</body>
</html>